.Header {
    ul {
        list-style: none;
        display: flex;
        gap: 2em;
    }

    .link {
        text-decoration: none;
        color: #bdbdbd;
        transition: .2s;

        &:hover {
            color: #123;
        }
    }
}