.Header {

    position: sticky;
    top: 0px;
    background: white;
    ul {
        list-style: none;
        display: flex;
        gap: 2em;
    }

    .link {
        text-decoration: none;
        color: #bdbdbd;
        transition: .2s;
        font-family: fantasy;

        &:hover {
            color: #123;
        }
    }
}